#gofree-bg {
    min-height: 80vh;
    background-color: #7dc4da;
    /* "#95C8D8" */
}
#gofree-home-showcase {
    background-image: url("../../utils/images/wallpaper.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* backgroundColor: "#fff", borderRadius: 5, marginBottom: 12, borderBottomWidth: 5, borderBottomColor: "#f03c96", borderBottomStyle: "solid" */
}

#gofree-topbar {
    background-image: url("../../utils/images/blue-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gofree-topbar h1 {
    padding: 10;
    font-size: 50px;
}