body { 
    background-color: #7dc4da;
}

#gofree-bg {
    min-height: 80vh;
    background-color: #7dc4da;
    /* "#95C8D8" */
}

#gofree-menu {
    background-color: #7dc4da;
}

#gofree-content {
    background-color: steelblue;
}


#gofree-home-showcase {
    background-image: url("../../utils/images/wallpaper.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-color: #f03c96;
    border-bottom-width: 5px;
}

#gofree-topbar {
    background-image: url("../../utils/images/blue-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

#gofree-topbar h1 {
    padding: 10;
    font-size: 50px;
}